<IfModule mod_rewrite.c>
    RewriteEngine On

    # 1. BLOKIR AKSES PENCURIAN KE FILE SENSITIF LARAVEL
    RewriteRule ^\.env - [F,L,NC]
    RewriteRule ^artisan - [F,L,NC]
    RewriteRule ^composer\.(json|lock) - [F,L,NC]
    RewriteRule ^package\.(json|lock) - [F,L,NC]
    
    # 2. BLOKIR AKSES BACA KE FOLDER INTI SISTEM
    RewriteRule ^(app|bootstrap|config|database|resources|routes|storage|tests|vendor)/(.*) - [F,L,NC]
    
    # 3. ROUTING DEFAULT LARAVEL (Jika belum ada)
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>